.splash {
  align-self: center;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
}

.splash .splash-intro h1 {
  color: var(--mm-yellow);
  font-size: 36px;
  font-weight: 600;
}

.splash p {
  font-size: 13px;
  font-weight: 500;
}

.splash .splash-actions p{
  font-size: 12px;
}
.splash .splash-actions p.splash-actions-desc {
  margin: 48px 0 24px;
}
.splash .splash-actions p.splash-actions-or {
  margin: 16px 0 !important;
}

