.toast {
  align-items: center;
  background-color: var(--mm-med);
  border-radius: 5px 0 0 5px;
  color: var(--mm-white);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 8px;
  opacity: 1;
  padding: 16px;
  position: relative;
  right: -320px;
  text-align: left;
  width: 320px;
}

.toast .toast-icon {
  margin-right: 8px;
}

.toast .label {
  display: block;
  font-weight: 600;
  margin-right: 8px;
}

.toast-inner {
  display: flex;
}

.toast-close {
  align-self: center;
  display: flex;
}

.toast.success {
  background-color: var(--mm-green);
}
.toast.warning {
  background-color: var(--mm-yellow);
}
.toast.danger {
  background-color: var(--mm-red);
}