@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --mm-dark: #564D4A;
  --mm-med: #A49895;
  --mm-disabled: #ECEAE9;
  --mm-white: #F7F4F3;
  --mm-blue: #7392B7;
  --mm-green: #5FBB97;
  --mm-yellow: #F49D37;
  --mm-red: #FE5F55;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  background-color: var(--mm-white);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  margin: 0;
}

.App {
  color: var(--mm-dark);
  display: flex;
  flex-direction: row;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
}

.darkbg {background-color: var(--mm-dark);}
.medbg {background-color: var(--mm-med);}
.disabledbg {background-color: var(--mm-disabled);}
.whitebg {background-color: var(--mm-white);}
.bluebg {background-color: var(--mm-blue);}
.successbg {background-color: var(--mm-green);}
.warningbg {background-color: var(--mm-yellow);}
.dangerbg {background-color: var(--mm-red);}